/*
* NOTICE: Copyright 2021 Talend SA, Talend, Inc., and affiliates. All Rights Reserved. Customer’s use of the software contained herein is subject to the terms and conditions of the Agreement between Customer and Talend.
 */

:root {
  /* Color used for the main components (button, border, link, dropdown, tooltip, ...) */
  --primary-color: #0675c1;
  /* Color used on body background and secondary components */
  --secondary-color: #FAFAFA;

  /* Header background color */
  --header-background: #19426C;
  /* Header text color */
  --header-color: #fff;
  /* Header brand logo URL */
  --header-brand-logo: url("/img/brand-logo.png");

  /* Footer background color */
  --footer-background-color: var(--secondary-color);
  /* Footer text color */
  --footer-color: #4A4A4A;

  /* HTTP methods colors*/
  --get-request-color: #fff;
  --get-request-background-color: #4D834C;
  --head-request-color: #fff;
  --head-request-background-color: #4D834C;
  --options-request-color: #fff;
  --options-request-background-color: #4D834C;
  --post-request-color: #000;
  --post-request-background-color: #F3B621;
  --patch-request-color: #000;
  --patch-request-background-color: #F3B621;
  --put-request-color: #fff;
  --put-request-background-color: #3477CD;
  --delete-request-color: #fff;
  --delete-request-background-color: #D14454;

  /* Badges colors */
  --color--neutral: #6d6d6d;
  --color--neutral-bg: #F0F0F0;
  --color--warn: #93521d;
  --color--warn-bg: #F8DAC1;
  --color--error: #b1181e;
  --color--error-bg: rgba(233,96,101,.2);
  --color--redirect: #022a45;
  --color--redirect-bg: rgba(6,117,193,.2);
  --color--success: #427212;
  --color--success-bg: #D9EBC6;

  /* Font family and sizes */
  --font-family-sans-serif: 'Source Sans Pro';
  --font-size-xxs: .75rem;
  --font-size-xs: .875rem;
  --font-size-sm: 1rem;
  --font-size-md: 1.125rem;
  --font-size-lg: 1.25rem;

  --root-font-size: var(--font-size-xs);

  --main-size-container: 67.14rem;
  --custom-page-container: var(--main-size-container);
  --api-page-container: var(--main-size-container);
}
