{{/*
  NOTICE: Copyright 2021 Talend SA, Talend, Inc., and affiliates. All Rights Reserved. Customer’s use of the software contained herein is subject to the terms and conditions of the Agreement between Customer and Talend.
*/}}

{{ $itemsByJsonPath := .itemsByJsonPath -}}
{{ $idsByJsonPath := .idsByJsonPath -}}
{{ $apiDefinition := .apiDefinition -}}
{{ $context := .context -}}
{{ $label := .label -}}
{{ $type := .type -}}
{{ $id := .id -}}

{{ with .parameters -}}
<table{{ with $id }} id="{{ . }}"{{ end }}>
  {{ with $label -}}<caption class="{{ $context }}__{{ $type }}">{{ . -}}</caption>{{ end -}}
  <thead class="sr-only">
    <tr>
      <th scope="col">{{ i18n "api-parameter-name" -}}</th>
      <th scope="col">{{ i18n "api-parameter-description" -}}</th>
      <th scope="col">{{ i18n "api-parameter-type" -}}</th>
      <th scope="col">{{ i18n "api-parameter-attributes-examples" -}}</th>
    </tr>
  </thead>
  <tbody>
  {{ range . -}}
    {{ with cond (hasPrefix .type "#/components/") (index $itemsByJsonPath .type) . -}}{{/* Solve potential referenced component */}}
      {{ if (eq .type "OBJECT") -}}
{{ partial "apis/1.0.0/apiDefinition/content/typedParameter_object" (dict "itemsByJsonPath" $itemsByJsonPath "idsByJsonPath" $idsByJsonPath "apiDefinition" $apiDefinition "context" $context "typedParameter" .) -}}
      {{ else if (eq .type "ARRAY") -}}
{{ partial "apis/1.0.0/apiDefinition/content/typedParameter_array" (dict "itemsByJsonPath" $itemsByJsonPath "idsByJsonPath" $idsByJsonPath "apiDefinition" $apiDefinition "context" $context "typedParameter" .) -}}
      {{ else }}
{{ partial "apis/1.0.0/apiDefinition/content/typedParameter_simple" (dict "itemsByJsonPath" $itemsByJsonPath "idsByJsonPath" $idsByJsonPath "context" $context "apiDefinition" $apiDefinition "dataType" . ) -}}
      {{ end -}}
    {{ end -}}
  {{ end -}}
  </tbody>
</table>
{{ end -}}
